[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "zsh/blox-zsh-theme"]
	path = zsh/blox-zsh-theme
	url = git@github.com:yardnsm/blox-zsh-theme.git
[submodule "zsh-nvm"]
	path = zsh/zsh-nvm
	url = git@github.com:lukechilds/zsh-nvm.git
