snippet iife
;(($1) => {
  $2
})()
endsnippet

snippet try
try {
  $0
} catch (error) {
  console.error(error)
}
endsnippet

snippet l
console.log($0)
endsnippet

snippet fori
for (let i = 0; i < $1.length; i += 1) {
  $2
}
endsnippet

snippet forij
for (let i = 0; i < $1.length; i += 1) {
  $2
  for (let j = i + 1; j < $3.length; j += 1) {
    $4
  }
}
endsnippet

