# TODO get from `https://github.com/honza/vim-snippets/blob/master/UltiSnips/all.snippets`
# his `all` snippets are great - maybe install and config to use only these
# (too much noice in the lang-specific files)
